# GonmAD analysis

In [1]:
from pathlib import Path
import os
import pandas

In [5]:
_folder_path = Path() / "Raw_data"
_raw_files = list(os.listdir(_folder_path))
print(_raw_files)

['gnomAD_v3.1.1_ENSG00000011677_2021_08_25_17_49_37_GABRA3.csv', 'gnomAD_v3.1.1_ENSG00000022355_2021_08_25_17_45_26_GABRA1.csv', 'gnomAD_v3.1.1_ENSG00000080644_2021_09_06_14_22_08_CHRNA3.csv', 'gnomAD_v3.1.1_ENSG00000094755_2021_08_25_17_53_59_GABRP.csv', 'gnomAD_v3.1.1_ENSG00000101204_2021_09_06_14_25_11_CHRNA4.csv', 'gnomAD_v3.1.1_ENSG00000101958_2021_08_26_22_07_30_GLRA2.csv', 'gnomAD_v3.1.1_ENSG00000102287_2021_08_25_17_51_00_GABRE.csv', 'gnomAD_v3.1.1_ENSG00000109158_2021_08_25_17_49_50_GABRA4.csv', 'gnomAD_v3.1.1_ENSG00000109738_2021_08_26_22_08_17_GLRB.csv', 'gnomAD_v3.1.1_ENSG00000111886_2021_08_25_17_54_36_GABRR2.csv', 'gnomAD_v3.1.1_ENSG00000113327_2021_08_25_17_52_13_GABRG2.csv', 'gnomAD_v3.1.1_ENSG00000120903_2021_08_26_22_10_13_CHRNA2.csv', 'gnomAD_v3.1.1_ENSG00000120903_2021_09_06_14_23_00_CHRNA2.csv', 'gnomAD_v3.1.1_ENSG00000138435_2021_08_26_22_09_48_CHRNA1.csv', 'gnomAD_v3.1.1_ENSG00000138435_2021_09_06_14_24_13_CHRNA1.csv', 'gnomAD_v3.1.1_ENSG00000145451_2021_08_26_22_07_54_GLRA3.csv', 'gnomAD_v3.1.1_ENSG00000145863_2021_08_25_17_50_27_GABRA6.csv', 'gnomAD_v3.1.1_ENSG00000145864_2021_08_25_17_51_32_GABRB2.csv', 'gnomAD_v3.1.1_ENSG00000145888_2021_08_26_22_07_00_GLRA1.csv', 'gnomAD_v3.1.1_ENSG00000146276_2021_08_25_17_54_23_GABRR1.csv', 'gnomAD_v3.1.1_ENSG00000147434_2021_09_06_15_12_26_CHRNA6.csv', 'gnomAD_v3.1.1_ENSG00000149305_2021_08_25_17_56_50_5HT3B.csv', 'gnomAD_v3.1.1_ENSG00000151834_2021_08_25_17_49_15_GABRA2.csv', 'gnomAD_v3.1.1_ENSG00000163285_2021_08_25_17_51_58_GABRG1.csv', 'gnomAD_v3.1.1_ENSG00000163288_2021_08_25_17_51_16_GABRB1.csv', 'gnomAD_v3.1.1_ENSG00000166206_2021_08_25_17_51_44_GABRB3.csv', 'gnomAD_v3.1.1_ENSG00000166736_2021_08_25_17_56_29_5HT3A.csv', 'gnomAD_v3.1.1_ENSG00000169684_2021_09_06_15_12_03_CHRNA5.csv', 'gnomAD_v3.1.1_ENSG00000178084_2021_08_25_17_57_07_5HT3C.csv', 'gnomAD_v3.1.1_ENSG00000182256_2021_08_25_17_52_30_GABRG3.csv', 'gnomAD_v3.1.1_ENSG00000183185_2021_08_25_17_54_54_GABRR3.csv', 'gnomAD_v3.1.1_ENSG00000186038_2021_08_25_17_57_43_5HT3E.csv', 'gnomAD_v3.1.1_ENSG00000186090_2021_08_25_17_57_26_5HT3D.csv', 'gnomAD_v3.1.1_ENSG00000186297_2021_08_25_17_50_11_GABRA5.csv', 'gnomAD_v3.1.1_ENSG00000186919_2021_08_26_22_05_56_ZACN.csv', 'gnomAD_v3.1.1_ENSG00000187730_2021_08_25_17_55_11_GABRD.csv', 'gnomAD_v3.1.1_ENSG00000268089_2021_08_25_17_55_33_GABRQ.csv', 'gnomAD_v3.1.2_ENSG00000108556_2021_10_26_19_05_18_CHRNE.csv', 'gnomAD_v3.1.2_ENSG00000117971_2021_10_26_19_03_47_CHRNB4.csv', 'gnomAD_v3.1.2_ENSG00000129749_2021_10_26_19_01_13_CHRNA10.csv', 'gnomAD_v3.1.2_ENSG00000135902_2021_10_26_19_04_55_CHRND.csv', 'gnomAD_v3.1.2_ENSG00000147432_2021_10_26_19_03_23_CHRNB3.csv', 'gnomAD_v3.1.2_ENSG00000160716_2021_10_26_19_03_04_CHRNB2.csv', 'gnomAD_v3.1.2_ENSG00000170175_2021_10_26_19_02_38_CHRNB1.csv', 'gnomAD_v3.1.2_ENSG00000174343_2021_10_26_19_00_26_CHRNA9.csv', 'gnomAD_v3.1.2_ENSG00000175344_2021_10_26_18_59_04_CHRNA7.csv', 'gnomAD_v3.1.2_ENSG00000196811_2021_10_26_19_04_10_CHRNG.csv']

## Importing the files
We import the file as pandas DataFrame and add a column in which we track the gene of interest.

In [9]:
data = []
for file in _raw_files:
    data.append(pandas.read_csv(_folder_path / file))
    data[-1]["Gene"] = file.split(".")[-2].split("_")[-1]

In [10]:
data[0]

,Chromosome,Position,rsIDs,Reference,Alternate,Source,Filters - exomes,Filters - genomes,HGVS Consequence,Protein Consequence,...,Hemizygote Count Ashkenazi Jewish,Allele Count African/African-American,Allele Number African/African-American,Homozygote Count African/African-American,Hemizygote Count African/African-American,Allele Count European (non-Finnish),Allele Number European (non-Finnish),Homozygote Count European (non-Finnish),Hemizygote Count European (non-Finnish),Gene
0,X,152168157,NaN,G,A,gnomAD Genomes,NaN,PASS,c.*71C>T,NaN,...,0,0,30604,0,0,0,53112,0,0,GABRA3
1,X,152168161,rs1384790433,C,T,gnomAD Genomes,NaN,PASS,c.*67G>A,NaN,...,0,1,30550,0,0,2,53058,0,0,GABRA3
2,X,152168162,rs1386272230,G,A,gnomAD Genomes,NaN,PASS,c.*66C>T,NaN,...,0,0,30614,0,0,3,53127,0,2,GABRA3
3,X,152168165,rs1603193519,G,A,gnomAD Genomes,NaN,PASS,c.*63C>T,NaN,...,0,1,30665,0,0,0,53180,0,0,GABRA3
4,X,152168167,rs1453252241,T,C,gnomAD Genomes,NaN,PASS,c.*61A>G,NaN,...,0,1,30551,0,0,0,53035,0,0,GABRA3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,X,152364593,rs1462667747,A,G,gnomAD Genomes,NaN,PASS,c.-23T>C,NaN,...,0,2,30588,0,1,0,53123,0,0,GABRA3
341,X,152364614,rs200503915,T,G,gnomAD Genomes,NaN,PASS,c.-26-18A>C,NaN,...,0,1,30551,0,0,8,53051,0,4,GABRA3
342,X,152364618,rs1380023644,T,A,gnomAD Genomes,NaN,PASS,c.-26-22A>T,NaN,...,0,0,30462,0,0,1,52933,0,0,GABRA3
343,X,152364628,rs1219359555,G,A,gnomAD Genomes,NaN,PASS,c.-26-32C>T,NaN,...,0,1,30672,0,0,0,53088,0,0,GABRA3
344,X,152364638,NaN,G,A,gnomAD Genomes,NaN,PASS,c.-26-42C>T,NaN,...,0,0,30640,0,0,0,53103,0,0,GABRA3

In [15]:
print(*list(data[0].columns), sep="\n")

Chromosome
Position
rsIDs
Reference
Alternate
Source
Filters - exomes
Filters - genomes
HGVS Consequence
Protein Consequence
Transcript Consequence
VEP Annotation
ClinVar Clinical Significance
ClinVar Variation ID
Flags
Allele Count
Allele Number
Allele Frequency
Homozygote Count
Hemizygote Count
Allele Count Other
Allele Number Other
Homozygote Count Other
Hemizygote Count Other
Allele Count Latino/Admixed American
Allele Number Latino/Admixed American
Homozygote Count Latino/Admixed American
Hemizygote Count Latino/Admixed American
Allele Count European (Finnish)
Allele Number European (Finnish)
Homozygote Count European (Finnish)
Hemizygote Count European (Finnish)
Allele Count Amish
Allele Number Amish
Homozygote Count Amish
Hemizygote Count Amish
Allele Count East Asian
Allele Number East Asian
Homozygote Count East Asian
Hemizygote Count East Asian
Allele Count Middle Eastern
Allele Number Middle Eastern
Homozygote Count Middle Eastern
Hemizygote Count Middle Eastern
Allele Count South Asian
Allele Number South Asian
Homozygote Count South Asian
Hemizygote Count South Asian
Allele Count Ashkenazi Jewish
Allele Number Ashkenazi Jewish
Homozygote Count Ashkenazi Jewish
Hemizygote Count Ashkenazi Jewish
Allele Count African/African-American
Allele Number African/African-American
Homozygote Count African/African-American
Hemizygote Count African/African-American
Allele Count European (non-Finnish)
Allele Number European (non-Finnish)
Homozygote Count European (non-Finnish)
Hemizygote Count European (non-Finnish)
Gene

In [17]:
print(*[len(x.columns) for x in data], sep="\n")

61
61
62
61
62
62
61
61
62
61
61
62
62
62
62
62
61
61
62
61
62
61
61
61
61
61
61
62
61
61
61
61
61
61
62
61
61
62
62
62
62
62
62
62
62
62
62

Some columns are present only in a subset of files. We look at one of those below.

In [18]:
set(data[2].columns) - set(data[0].columns)

{'Transcript'}

In [19]:
data[2]["Transcript"]

0      ENST00000348639.7
1      ENST00000348639.7
2      ENST00000348639.7
3      ENST00000348639.7
4      ENST00000348639.7
             ...
598    ENST00000326828.6
599    ENST00000326828.6
600    ENST00000326828.6
601    ENST00000326828.6
602    ENST00000326828.6
Name: Transcript, Length: 603, dtype: object

We will keep them, and introduce NaN
## Joining the datasets

In [21]:
dataset = pandas.concat(data, axis=0, join="outer", ignore_index=True)
print(dataset)

      Chromosome     Position         rsIDs Reference Alternate  \
0              X  152168157.0           NaN         G         A
1              X  152168161.0  rs1384790433         C         T
2              X  152168162.0  rs1386272230         G         A
3              X  152168165.0  rs1603193519         G         A
4              X  152168167.0  rs1453252241         T         C
...          ...          ...           ...       ...       ...
28733          2  232545764.0  rs1329683219         A         G
28734          2  232545766.0   rs377400953         T         A
28735          2  232545769.0   rs962602943         G         T
28736          2  232545774.0   rs970615017         A         G
28737          2  232545783.0   rs980712487         G         A

               Source  Filters - exomes Filters - genomes HGVS Consequence  \
0      gnomAD Genomes               NaN              PASS         c.*71C>T
1      gnomAD Genomes               NaN              PASS         c.*67G>A
2      gnomAD Genomes               NaN              PASS         c.*66C>T
3      gnomAD Genomes               NaN              PASS         c.*63C>T
4      gnomAD Genomes               NaN              PASS         c.*61A>G
...               ...               ...               ...              ...
28733  gnomAD Genomes               NaN              PASS         c.*48A>G
28734  gnomAD Genomes               NaN              PASS         c.*50T>A
28735  gnomAD Genomes               NaN              PASS         c.*53G>T
28736  gnomAD Genomes               NaN              PASS         c.*58A>G
28737  gnomAD Genomes               NaN              PASS         c.*67G>A

      Protein Consequence  ... Allele Count African/African-American  \
0                     NaN  ...                                   0.0
1                     NaN  ...                                   1.0
2                     NaN  ...                                   0.0
3                     NaN  ...                                   1.0
4                     NaN  ...                                   1.0
...                   ...  ...                                   ...
28733                 NaN  ...                                   0.0
28734                 NaN  ...                                  21.0
28735                 NaN  ...                                   0.0
28736                 NaN  ...                                   3.0
28737                 NaN  ...                                   2.0

      Allele Number African/African-American  \
0                                    30604.0
1                                    30550.0
2                                    30614.0
3                                    30665.0
4                                    30551.0
...                                      ...
28733                                41444.0
28734                                41466.0
28735                                41454.0
28736                                41422.0
28737                                41432.0

      Homozygote Count African/African-American  \
0                                           0.0
1                                           0.0
2                                           0.0
3                                           0.0
4                                           0.0
...                                         ...
28733                                       0.0
28734                                       0.0
28735                                       0.0
28736                                       0.0
28737                                       0.0

       Hemizygote Count African/African-American  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0
...                                          ...
28733                                        0.0
28734                                        0.0
28735                                        0.0
28736                                        0.0
28737                                        0.0

      Allele Count European (non-Finnish)  \
0                                     0.0
1                                     2.0
2                                     3.0
3                                     0.0
4                                     0.0
...                                   ...
28733                                 1.0
28734                                 0.0
28735                                 0.0
28736                                 0.0
28737                                 4.0

       Allele Number European (non-Finnish)  \
0                                   53112.0
1                                   53058.0
2                                   53127.0
3                                   53180.0
4                                   53035.0
...                                     ...
28733                               68032.0
28734                               68046.0
28735                               68032.0
28736                               68026.0
28737                               68036.0

       Homozygote Count European (non-Finnish)  \
0                                          0.0
1                                          0.0
2                                          0.0
3                                          0.0
4                                          0.0
...                                        ...
28733                                      0.0
28734                                      0.0
28735                                      0.0
28736                                      0.0
28737                                      0.0

       Hemizygote Count European (non-Finnish)    Gene         Transcript
0                                          0.0  GABRA3                NaN
1                                          0.0  GABRA3                NaN
2                                          2.0  GABRA3                NaN
3                                          0.0  GABRA3                NaN
4                                          0.0  GABRA3                NaN
...                                        ...     ...                ...
28733                                      0.0   CHRNG  ENST00000651502.1
28734                                      0.0   CHRNG  ENST00000651502.1
28735                                      0.0   CHRNG  ENST00000651502.1
28736                                      0.0   CHRNG  ENST00000651502.1
28737                                      0.0   CHRNG  ENST00000651502.1

[28738 rows x 62 columns]